<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Todo List</h1>
    {{ range .Todos }}
    <ul id="todo-list">
            <li>{{ .Text }}</li>
        {{ end }}
    </ul>
        
        <form htmx-post="/todos" hx-swap="outerHTML">
            <input type="text" name="todo">
            <button  type="submit">Add</button>
        </form>
        <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</body>
</html>
